<a href="https://colab.research.google.com/github/Tyty-manu/Week-4-ip/blob/main/Emmanuel_week_4_ip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#iporting libraries to be used

import pandas as pd
import numpy as np

In [ ]:
#reading our csv file
df=pd.read_csv('autolib.csv')
df

In [ ]:
#data cleaning
# here we could drop columns and rows that have Na cells and also columns thst we wont really use for our analysis.
#essencially to make our work short and easyly comprehendable
#1st droping columns , Unimportant ones and ones with Nan values
#df.isnull()
#df.isnull().any()
df= df.dropna(axis=1)
#df=df.drop(['Cars'], axis=1)
df.head(15)

In [ ]:
#we can aslo drop rows whose rental status is none operational
index_rental = df[ df['Rental status'] == 'broken' ].index
df.drop(index_names, inplace = True)
df.head(14)

In [ ]:
#we can export the dataframe into a csv
df.to_csv('IP_WK4.csv',index=False)

In [ ]:
#We can also use sql for further data cleaning 
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

In [ ]:
# Loading our table from the respective CSV files 
with open('IP_WK4.csv','r') as f:
    IP_WK4 = pd.read_csv(f, index_col=0, encoding='utf-8')
# saving the IP_WK4 CSV file into a database
%sql DROP TABLE if EXISTS IP_WK4;
%sql PERSIST IP_WK4;


%sql SELECT * FROM IP_WK4 LIMIT 60;

In [ ]:
#We can filter out other cities and remain with paris as our case study city and put results into new table 
%%sql
create table re_ip as
select * from IP_WK4
where City='Paris'

In [ ]:
#we can find cummulative difference in the cars column to see if its negative or positive 
#negative suggesting a car pick up/hire 
#positive meaning a car return 
#the result pushed into anew column Cumulative_difference
%%sql
select ID,hours minutes ,
Cars - LAG(Cars) over (order by ID) as Cumulative_difference
from  re_ip